
<% if @article.errors.any? %>
  <%= pluralize(@article.errors.count, 'error') %> prohibited this article from being saved:
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body, rows: 10 %>
  <%= f.submit class: 'btn btn-primary btn-sm' %>
<% end %>
