<article class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= @article.title %>
        </h2>
      </div>
      <div class="panel-body">
        <%= @article.body %>
      </div>
      <div class="panel-footer">
        <div>
          <small><%= time_ago_in_words(@article.created_at, include_seconds: true) %> ago created.</small>
        </div>
      </div>
    </div>
  </div>
</article>
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <%= link_to 'Back', articles_path, class: "btn btn-warning btn-sm" %>
    <% if user_signed_in? && @article.user == current_user %>
      <%= link_to 'Edit', edit_article_path, class: "btn btn-primary btn-sm" %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= form_for [@article, @comment], html: { class: "form-horizontal", role: "form" } do |f| %>
      <% if @comment.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@commnet.errors.count, 'error') %> prohibited this comment from being saved:
            </h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="contol-label col-md-2">
          <%= f.label :body, 'New Comment' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Your comment" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit "Add Comment", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-offset-1 col-md-10">
    <% if @article.comments.any? %>
      <% persisted_comments(@comments).each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= comment.body %>
          </div>
          <div class="panel-footer">
            <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.email %>
          </div>
        </div>
        <hr>
      <% end %>
    <% else %>
      <div class="panel panel-default">
        <div class="panel-body">
          There are no comments to show.
        </div>
      </div>
    <% end %>
  </div>
</div>
